<p id="notice"><%= notice %></p>

<h1>Sounds</h1>

<% @sounds.each do |sound| %>
   <%= sound.filename %>
   <%= sound.name %>
   <%= link_to 'Show', sound %>
   <%= link_to 'Edit', edit_sound_path(sound) %>
   <%= link_to 'Destroy', sound, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Sound', new_sound_path %>
