= notice

.sounds-show
  %h2
    = @sound.name

  %p
    %strong Filename:
    = @sound.filename

  %audio{src: "/sounds/#{@sound.filename}", controls: ''}
  %h3
    %span Current Time (in milliseconds):
    %span.current-time 0

  .links
    = link_to 'Edit', edit_sound_path(@sound)
    = link_to 'Back', sounds_path
