= notice

.sounds-show
  .sound
    %h2
      = @sound.name
      %span= "(#{@sound.filename})"

    .links
      = link_to 'Edit', edit_sound_path(@sound)
      = link_to 'Back', sounds_path

    %audio{src: "/sounds/#{@sound.filename}", controls: ''}
    %h3
      %span Current Time (ms):
      %span.current-time 0

  .sections
    %h2 Sections
    - @sound.sections.each_with_index do |section, index|
      .section-box{'data-start-time': section.start_time, 'data-end-time': section.end_time}
        %span= "(#{index+1})"
        %span.name= section.name
        %span.time-span= "(#{section.start_time}ms - #{section.end_time}ms)"
        %button Play
        = link_to 'Edit', edit_section_path(section)


  .new-section
    %h2 New Section
    = form_for(@section) do |f|
      = f.hidden_field :sound_id, value: @sound.id

      .field
        = f.label :start_time
        = f.number_field :start_time
        %button.visit-here{type: :button} Visit Here
        %button.play-pause{type: :button} Play/Pause

      .field
        = f.label :end_time
        = f.number_field :end_time
        %button.visit-here{type: :button} Visit Here
        %button.play-pause{type: :button} Play/Pause

      .field
        = f.label :name
        = f.text_field :name
        %button.preview-section{type: :button} Preview

      = f.submit
